@font-face {
	font-family: "Roboto";
	src: url("/Roboto-Regular.ttf");
}

* {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	color: #000000;
}

main {
	padding: 2rem;
}

a:hover {
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1a1a1a;
		color: #ffffff;
	}
}
